<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-md-push-2 col-md-4">
              <h4>联系我们</h4>
              <div>
                <ul class="social">
                  <li>
                    <i class="fa fa-envelope"></i> 邮件联系：吕凯风 vfleaking at gmail dot com</a>
                  </li>
                  <li>
                    <i class="fa fa-wechat"></i> 官方微信公众号：茶园资讯
                    <img src="/~stu/seminar/assets/img/QR.jpg" width="200">
                  </li>
                </ul>
              </div>
              <p style="color: #092020"> Make IIIS Great Again! </p>
            </div>

            <div class="col-md-push-2 col-md-3">
                <h4>{{ site.about }}</h4>
                {% include pic.html name="logo-white" %}
            </div>
        </div><!--/row -->
    </div><!--/container -->
</div><!--/footerwrap -->
